@(message: String)(implicit userOption: Option[User])

@layout.default("Silhouette test application") {
    <h1>@message</h1>
        <p>
            <a href="@routes.Application.secured">go to secured content</a>
            @userOption match {
                case Some(user) => {
                    <a href="@authentication.routes.AuthenticationController.signOut">sign out @user.displayName</a>
                }
                case None => {
                    <a href="@authentication.routes.AuthenticationController.signUpPage">sign up</a>
                    <a href="@authentication.routes.AuthenticationController.signInPage">sign in</a>
                }
            }
        </p>
}
