@(message: String)(implicit userOption: Option[TestUser])

    @layout.default("Welcome to Play") {
    <h1>@message</h1>
        <p>
            <a href="@routes.Application.secured">go to secured content</a>
            @userOption match {
                case Some(user) => {
                    <a href="@authentication.routes.SignOutController.signOut">sign out @user.loginInfo.providerKey</a>
                }
                case None => {
                    <a href="@authentication.routes.SignUpController.signUpPage">sign up</a>
                }
            }
        </p>
}
