@import forms.SignUpForm
@import play.api.data.Form
@import views.html.helper

@(form: Form[SignUpForm.Data])(implicit request: RequestHeader, messages: Messages)


@layout.default("Silhouette - Sign Up") {
    @request.flash.get("error").map { msg =>
        <div class="alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> @msg
        </div>
    }
    <fieldset>
        <legend>Sign up for a new account</legend>
        @helper.form(action = controllers.authentication.routes.AuthenticationController.signUp()) {
            @helper.inputText(form("displayName"), '_hiddenLabel -> "Display name", 'placeholder -> "Display name", 'class -> "form-control input-lg")
            @helper.inputText(form("email"), '_hiddenLabel -> "Email", 'placeholder -> "Email", 'class -> "form-control input-lg")
            @helper.inputPassword(form("password"), '_hiddenLabel -> "Password", 'placeholder -> "Password", 'class -> "form-control input-lg")
            @helper.inputText(form("fullName"), '_hiddenLabel -> "Full name", 'placeholder -> "Full name", 'class -> "form-control input-lg")
            @helper.inputText(form("avatarURL"), '_hiddenLabel -> "Avatar URL", 'placeholder -> "Avatar URL", 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </div>
            <div class="sign-in-now">
                <p>Already a member? <a href="@routes.Application.secured">Sign in now</a></p>
            </div>
        }
    </fieldset>
}
